<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha512-u7ppO4TLg4v6EY8yQ6T6d66inT0daGyTodAi6ycbw9+/AU8KMLAF7Z7YGKPMRA96v7t+c7O1s6YCTGkok6p9ZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  
  <div id="app">
    <h1>to do list</h1>
    <!--collego con v-model l'input alla sua variabile-->
    <input 
      v-model="itemByInput" 
      @keyup.enter="pushNewItem"
      placeholder="Cose da fare" type="text">
      
    <button
      @click="pushNewItem"
    >Aggiungi</button>
    <ul>
      <!--stampo la lista ogetti-->
      <li v-for="item in toDoList">
        <p>{{item.text}}</p>
        <i 
        @click="deleteItem"
        class="fas fa-trash"></i>
      </li>
    </ul>

   

  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/script.js"></script>
</body>
</html>